/* Give aside and main constrasting background colors */
/* Make the aside take up 30% of the page width */
/* Make main take up 70% of the page width */
/* Style the logo using css */
/* Position the image with 1/4 of it on aside */
/* Size the image so that it is about half the height of the page */
/* Center the image vertically in the page */
/* Style the heading */
/* Style the subheading */
/* Style the motto */
/* Style the buttons */
/* Add animations to the buttons when hovered over and selected */

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

body {
    color: white;
    height: 100%;
    position: relative;
    width: 100%;
}

a:first-of-type {
    color: #CB9300;
    text-decoration: none;
}

/* ASIDE STYLES */

aside {
    background: #083F66;
    /* height: 100%; */
    left: 0%;
    position: absolute;
    top: 0%;
    width: 30%;
}

img {
    background: #CB9300;
}


/* MAIN STYLES */

main {
    background: #A07403;
    /* height: 100%; */
    left: 30%;
    position: absolute;
    top: 0%;
    width: 70%;
}





